<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia Padovan</title>
</head>
<body>
    <h2> <u><b> Lista de familiares:</u> </b></h2>

    <ul>    <h3>----------------------------------------------------------------------------------------------------</h3>
            {% for nombre in name %}
                <li><u> Nombre:</u>  <br> <b>{{ nombre }} </b> </br></li>
            {% endfor %} 
           
            <h3>----------------------------------------------------------------------------------------------------</h3>
            
            {% for n in apellido %}
                <li><u> Apellido:</u>  <br> <b>{{ n }} </b></br></li>
            {% endfor %}

            <h3>----------------------------------------------------------------------------------------------------</h3>         
            
            {% for x in dni %}
                <li><u> Nro DNI:</u> <br> <b>{{ x }} </b> </br></li>
            {% endfor %}
            
            <h3>----------------------------------------------------------------------------------------------------</h3>

            {% for y in nacimiento %}
                <li><u> Fecha de nacimiento:</u> <br> <b>{{ y }} </b> </br></li>
            {% endfor %}

            <h3>----------------------------------------------------------------------------------------------------</h3>
    </ul>
</body>
</html>